html{
    
    overflow-x: hidden;
    
}
.navbar {
  background-color: #ff8500;
  overflow: hidden;
  position: fixed;
  top: 0;
  padding: 1%;
  height: 10%;
  width: 100%;
  z-index: 99;
  box-shadow: 0 15px 255px rgba(0,0,0,.6);
  
}
.sidebar {
    width: 250px;
    height: 100%;
    top: 10%;
    position: fixed;
    background-color:  #ff8500;
    border: 3px solid black;
    border-top: none;
    border-left: none;
   
  
  }

.collapse {
  transform: translateX(0%);
}

.sidebar ul {
  padding-left: 0%;
}

.sidebar ul li {
  list-style: none;
  padding-left: 1%;
  padding: 15px 15px;
  border-bottom: 3px solid black;
}


.sidebar ul li:hover {
  background-color: black;
  color: #ff8500;
}



  .form-box {
    position: relative;
    height: 70%;
    top: 45%;
    bottom: 40%;
    left: 65%;
    width: 70%;
    padding: 40px;
    transform: translate(-50%, -50%);
    background:white;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    overflow-y: auto;
  }

  .img-fluid {
    width: 25%;
    
}

.navbar-brand{
  width: 11%;
}
