html{
    background-color: rgb(255, 255, 255);
    
    overflow-x: hidden;
    
}
.navbar {
  background-color: #ff8500;
  overflow: hidden;
  position: fixed;
  top: 0;
  height: 8%;
  width: 100%;
  z-index: 99;
  
}
.sidebar {
    width: 250px;
    height: 100%;
    top: 8%;
    position: fixed;
    background-color:  #ff8500;
  }

  .form-box {
    position: relative;
    height: 70%;
    top: 45%;
    bottom: 40%;
    left: 75%;
    width: 70%;
    padding: 40px;
    transform: translate(-50%, -50%);
    background:white;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    overflow-y: auto;
  }

  .img-fluid {
    width: 13%;
    
}